<nav class="nav">
    <h1> <a routerLink="/">E-Comm</a></h1>
    <div *ngIf="menuType==='default'" class="nav-search">

        <!-- KeyUp function call -->
        <input type="text" #searchInput (keyup)="searchproduct($event)" (blur)="hidesearch()"
            placeholder="search for product" />
        <button (click)="submitSearch(searchInput.value)">Search</button>
        <ul class="suggested-result" *ngIf="searchresult">
            <li *ngFor="let item of searchresult">
                <a (mousedown)="redirectToDetails(item.id)">{{item.name}}</a>
            </li>
        </ul>
    </div>

    <div [ngSwitch]="menuType">
        <ul *ngSwitchCase="'default'">
            <li><a routerLink="/seller-auth">Seller</a></li>
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="user-auth">Login/signup</a></li>
            <li><a href="#">Cart(0)</a></li>
            
        </ul>

        <ul *ngSwitchCase="'user'">
            <li><a routerLink="/seller-auth">Seller</a></li>
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="user-auth">{{username | titlecase}}</a></li>
            <li><a (click)="userlogout()">Logout</a></li>
            <li><a href="#">Cart(0)</a></li>
        </ul>

        <ul *ngSwitchCase="'seller'">
            <li><a routerLink="seller-add-product">Add product</a></li>
            <li><a routerLink="seller-home">List</a></li>
            <li><a (click)="logout()">Logout</a></li>
            <li><a href="#">{{sellername | titlecase}}</a></li>

        </ul>


    </div>
</nav>