<div class="add-product">
    <h2>New add Product</h2>
    <p class="P_message">{{addproductMessage}}</p>
    <form #addProduct="ngForm" (ngSubmit)="submit(addProduct.value)" class="common-form">
        <input class="form-input" type="text" ngModel name="name" placeholder="Enter product Name">
        <input class="form-input" type="text" ngModel name="price" placeholder="Enter product price">
        <input class="form-input" type="text" ngModel name="color" placeholder="Enter product color">
        <input class="form-input" type="text" ngModel name="category" placeholder="Enter product category">
        <textarea class="form-input" type="text" ngModel name="description" placeholder="Enter product description"></textarea>
        <input class="form-input" type="text" ngModel name="image" placeholder="Enter product imageURL">
        <button class="form-button">Add Product</button>
    </form>
</div>