.imgsize {
    object-fit: contain;
    height: 500px;
    width: 100%;
}

.product-item img {
    width: 100%;
    height: 300px;
    object-fit: contain;
}

.product-list-wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
}

.product-item {
    margin-bottom: 40px;
    border: 1px solid #ddd;
    margin-right: 25px;
}

.product-item .product-details {
    border-top: 2px solid #ddd;
    border-bottom: px solid #ddd;
    padding: 15px;
    object-fit: contain;
}

.product-item h6 {
    margin: 0;
    text-align: center;
    font-size: 19px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400px;
}
.product-item .product-price{
    margin-bottom: 0px;
}
.product-footer{
    border-top: 2px solid #ddd;
    display: flex;
    justify-content: space-between;
    /* padding:4px; */
}
.product-item .product-footer a{
 text-decoration: none;
}